body {
  padding-bottom: 1000px;
  background-image: url(hair-pictures/1.jpg);
}

.banner1-div {
  position: relative;
}

.banner1 {
  width: 100%;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.banner2 {
  position: absolute;
  top: 0px;
  right: 290px;
  width: 120px;
}

.banner2 img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.white {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: lightblue;
  width: 270px;
  height: 30px;
}

.number {
  position: absolute;
  top: -5px;
  color: rgb(34, 33, 33);
  right: 50px;
}








.header {
  display: flex;
  justify-content: center;
}

.banner {
  width: 70px;
  object-fit: cover;
  padding: 10px;
  cursor: pointer;
}

.header {
  margin-top: -80px;
  margin-left: 60px;
}

.search-bar {
  width: 400px;
  height: 35px;
  padding-left: 10px;
  color: lightgray;
  font-size: 16px;
  border-color: gray;
  border-radius: 5px;
}
















.grid {
  margin: 40px 10px 20px 10px;
}

.first-grid {
  display: flex;
  align-items: center;
}

.div1 {
  width: 1000px;
}

.div2 {
  width: 500px;
}

.flash-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.kachi-banner {
  width: 100%;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}










.second-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

.gap {
  width: 100%;
  margin-right: 10px;
}

.waves-div {
  width: 100%;
  margin: 0px
}

.waves-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20%;
  margin: 0px;
}

.waters {
  margin-top: -15px;
}

.waters p {
  margin-left: 20px;
  font-size: 12px;
  width: 70px;
  font-weight: bold;
  color: black;
}







